cat > .gitignore << 'EOF'
__pycache__/
*.py[cod]
*.log

# env
venv/
.env
.DS_Store

# Jupyter
.ipynb_checkpoints/

# outputs
data/*
!data/raw/
models/
mlruns/
artifacts/

# IDE
.vscode/
.idea/
EOF
mlflow.db

model.pkl
metrics.json
confusion_matrix.png